.wrapper {
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
}

header {
  margin-bottom: 100px;
  padding: 30px 0 0;
  background-image: url(../images/coffee.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer {

  clear: both;
  opacity: 0.8;
}

.page {
  float: right;
  width: 70%;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
  font-family: bahnschrift;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 5px;
  border-right: solid 2px;
  margin: 10px;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}

h1{
  padding: 15px;
  color: #013220;
  text-align: center;
  text-shadow: 2px 2px 5px pink;
  font-family: fantasy;
  text-transform: uppercase;
}

h2{
  color:#560005;
  text-align: left;
  margin: 25px;
}

li{
  padding: 8px;
  list-style-type: none;
  border-left: solid 0.5px;
  padding-bottom: 5px;
}

body{
 background-color: #FFFFE0;
}
